@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in-out;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
}

.animate-wave {
  display: inline-block;
  animation: wave 1.5s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}
.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

body {
  /* background-image: linear-gradient(-225deg, #2cd8d5 0%, #6b8dd6 48%, #bf8fe7 100%);
  background-image: linear-gradient(-225deg, #2cd8d5 0%, #c5c1ff 56%, #ffbac3 100%);
  background-image: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);
  background-image: linear-gradient(-225deg, #77ffd2 0%, #6297db 48%, #1eecff 100%); */
  background-image: linear-gradient(to top, #e6c1e6 0%, #97d9e1 100%);
  background-attachment: fixed;
  background-size: cover;
}

.mybadge:hover {
  opacity: 1;
  color: #fff;
}

.about-hight {
  /* border-bottom: 1px dashed #99bdae; */
  /* text-decoration: underline wavy #99bdae; */
  font-weight: bold;
}
